{% capture home-1 %}<svg class="w-[16px] h-[16px] text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8v10a1 1 0 0 0 1 1h4v-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v5h4a1 1 0 0 0 1-1V8M1 10l9-9 9 9"/>
</svg>{% endcapture %}
{% capture categories-1 %}<svg width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
  <g clip-path="url(#clip0_429_11052)">
  <circle cx="17" cy="7" r="3" stroke="#292929" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
  <circle cx="7" cy="17" r="3" stroke="#292929" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M14 14H20V19C20 19.5523 19.5523 20 19 20H15C14.4477 20 14 19.5523 14 19V14Z" stroke="#292929" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M4 4H10V9C10 9.55228 9.55228 10 9 10H5C4.44772 10 4 9.55228 4 9V4Z" stroke="#292929" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
  </g>
  <defs>
  <clipPath id="clip0_429_11052">
  <rect width="24" height="24" fill="white"/>
  </clipPath>
  </defs>
  </svg>{% endcapture %}
{% capture gift-1 %}<svg class="w-[16px] h-[16px] text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 19v-9m3-4H5.5a2.5 2.5 0 1 1 0-5C7 1 8.375 2.25 9.375 3.5M12 19v-9m-9 0h14v8a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-8ZM2 6h16a1 1 0 0 1 1 1v3H1V7a1 1 0 0 1 1-1Zm12.155-5c-3 0-5.5 5-5.5 5h5.5a2.5 2.5 0 0 0 0-5Z"/>
</svg>{% endcapture %}
{% capture cart-1 %}<svg class="w-[16px] h-[16px] text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 15a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm0 0h8m-8 0-1-4m9 4a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-9-4h10l2-7H3m2 7L3 4m0 0-.792-3H1"/>
</svg>{% endcapture %}
{% capture account-1 %}<svg class="w-[16px] h-[16px] text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 18">
  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 8a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm-2 3h4a4 4 0 0 1 4 4v2H1v-2a4 4 0 0 1 4-4Z"/>
</svg>{% endcapture %}
<style>
  #meroxio-sticky-mobile-menu-slider-free  .m-menu-container{
    background: #ffffff;
  }
  #meroxio-sticky-mobile-menu-slider-free  .m-icon-name span{
    font-size: {{ block.settings.m-font }}px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: {{ block.settings.m_text_color }};
  }
  #meroxio-sticky-mobile-menu-slider-free .m-icon svg{
    margin: auto;
    fill: #FFFFFF;
    width: {{ block.settings.svg_size }}px;
    height: {{ block.settings.svg_size }}px;
  }
</style>
<div id="meroxio-sticky-mobile-menu-slider-free">
<div class="m-sticky-menu meroxio-sticky-mobile-menu-pro">
  <div class="m-menu-container">
    <div class="m-sticky-menu-bar-box">
    {% if block.settings['show-home'] %}
      <div class="m-icon-main">
        <a href="{{ block.settings.icon_url_1 }}">
          <div class="m-icon">
            {% if block.settings['m-icon-1'] != blank -%}
              <img
                loading="lazy"
                width="30"
                height="30"
                src="{{ block.settings.m-icon-1 | image_url: width: 30 }}"
              >
            {% else %}
             {{ home-1 }}
            {%- endif %}
          </div>
          <div class="m-icon-name">
            {% if block.settings.m-icon-text-1 != blank %}<span>{{ block.settings.m-icon-text-1 }}</span>{% endif %}
          </div>
        </a>
      </div>
    {% endif %}

    {% if block.settings['show-categories'] %}
      <div class="m-icon-main">
        <a href="{{ block.settings.categories }}">
          <div class="m-icon">
            {% if block.settings['m-icon-2'] != blank -%}
              <img
                loading="lazy"
                width="30"
                height="30"
                src="{{ block.settings.m-icon-2 | image_url: width: 30 }}"
              >
            {% else %}
              {{ categories-1 }}
            {%- endif %}
          </div>
          <div class="m-icon-name">
            {% if block.settings.m-icon-text-2 != blank %}<span>{{ block.settings.m-icon-text-2 }}</span> {% endif %}
          </div>
        </a>
      </div>
    {% endif %}

    {% if block.settings['show-custom-icon-1'] %}
      <div class="m-icon-main">
        <a href="{{ block.settings.m-icon-link-5 }}">
          <div class="m-icon">
            {% if block.settings['m-icon-5'] != blank %}
              <img
                loading="lazy"
                width="30"
                height="30"
                src="{{ block.settings.m-icon-5 | image_url: width: 30 }}"
              >
                {% else %}
              {{ gift-1 }}
            {% endif %}
          </div>
          <div class="m-icon-name">
            {% if block.settings['m-icon-title-5'] != blank %}<span>{{ block.settings['m-icon-title-5'] }}</span> {% endif %}
          </div>
        </a>
      </div>
    {% endif %}

    {% if block.settings['show-cart'] %}
      <div class="m-icon-main">
        <a href="{{ block.settings.m_icon_url-5 }}">
          <div class="m-icon">
            {% if block.settings['m-icon-3'] != blank %}
              <img
                loading="lazy"
                width="30"
                height="30"
                src="{{ block.settings.m-icon-3 | image_url: width: 30 }}"
              >
            {% else %}
             {{ cart-1 }}
            {% endif %}
          </div>
          <div class="m-icon-name">
            {% if block.settings.m-icon-text-5 != blank %}<span>{{ block.settings.m-icon-text-5 }}</span> {% endif %}
          </div>
        </a>
      </div>
    {% endif %}

    {% if block.settings['show-account'] %}
      <div class="m-icon-main ">
        <a href="{{ block.settings.icon_url_6 }}">
          <div class="m-icon">
            {% if block.settings['m-icon-4'] != blank %}
              <img
                loading="lazy"
                width="30"
                height="30"
                src="{{ block.settings.m-icon-4 | image_url: width: 30 }}"
              >
            {% else %}
              {{ account-1 }}
            {% endif %}
          </div>
          <div class="m-icon-name">
            {% if block.settings.m-icon-text-6 != block %}<span>{{ block.settings.m-icon-text-6 }}</span> {% endif %}
          </div>
        </a>
      </div>
    {% endif %}
  </div>
  <div class="company_name"><a href="/"><span>Powered By MeroxIO</span></a></div>
  </div>
</div>
</div>
