{% capture home-1 %}<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" id="home" fill="none"><path stroke="#292929" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M6.65721519,18.7714023 L6.65721519,15.70467 C6.65719744,14.9246392 7.29311743,14.2908272 8.08101266,14.2855921 L10.9670886,14.2855921 C11.7587434,14.2855921 12.4005063,14.9209349 12.4005063,15.70467 L12.4005063,15.70467 L12.4005063,18.7809263 C12.4003226,19.4432001 12.9342557,19.984478 13.603038,20 L15.5270886,20 C17.4451246,20 19,18.4606794 19,16.5618312 L19,16.5618312 L19,7.8378351 C18.9897577,7.09082692 18.6354747,6.38934919 18.0379747,5.93303245 L11.4577215,0.685301154 C10.3049347,-0.228433718 8.66620456,-0.228433718 7.51341772,0.685301154 L0.962025316,5.94255646 C0.362258604,6.39702249 0.00738668938,7.09966612 0,7.84735911 L0,16.5618312 C0,18.4606794 1.55487539,20 3.47291139,20 L5.39696203,20 C6.08235439,20 6.63797468,19.4499381 6.63797468,18.7714023 L6.63797468,18.7714023" transform="translate(2.5 2)"></path></svg>{% endcapture %}
{% capture categories-1 %}<svg width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
  <g clip-path="url(#clip0_429_11052)">
  <circle cx="17" cy="7" r="3" stroke="#292929" stroke-width=".8" stroke-linecap="round" stroke-linejoin="round"/>
  <circle cx="7" cy="17" r="3" stroke="#292929" stroke-width=".8" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M14 14H20V19C20 19.5523 19.5523 20 19 20H15C14.4477 20 14 19.5523 14 19V14Z" stroke="#292929" stroke-width=".8" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M4 4H10V9C10 9.55228 9.55228 10 9 10H5C4.44772 10 4 9.55228 4 9V4Z" stroke="#292929" stroke-width=".8" stroke-linecap="round" stroke-linejoin="round"/>
  </g>
  <defs>
  <clipPath id="clip0_429_11052">
  <rect width="24" height="24" fill="white"/>
  </clipPath>
  </defs>
  </svg>{% endcapture %}
{% capture gift-1 %}<svg class="w-[16px] h-[16px] text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
  <path stroke="#292929" stroke-linecap="round" stroke-linejoin="round" stroke-width=".8" d="M8 19v-9m3-4H5.5a2.5 2.5 0 1 1 0-5C7 1 8.375 2.25 9.375 3.5M12 19v-9m-9 0h14v8a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-8ZM2 6h16a1 1 0 0 1 1 1v3H1V7a1 1 0 0 1 1-1Zm12.155-5c-3 0-5.5 5-5.5 5h5.5a2.5 2.5 0 0 0 0-5Z"/>
</svg>{% endcapture %}
{% capture cart-1 %}<svg class="w-[16px] h-[16px] text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
  <path stroke="#292929" stroke-linecap="round" stroke-linejoin="round" stroke-width=".8" d="M6 15a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm0 0h8m-8 0-1-4m9 4a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-9-4h10l2-7H3m2 7L3 4m0 0-.792-3H1"/>
</svg>{% endcapture %}
{% capture account-1 %}<svg class="w-[16px] h-[16px] text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 18">
  <path stroke="#292929" stroke-linecap="round" stroke-linejoin="round" stroke-width=".8" d="M7 8a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm-2 3h4a4 4 0 0 1 4 4v2H1v-2a4 4 0 0 1 4-4Z"/>
</svg>{% endcapture %}
<style>
  #meroxio-sticky-mobile-menu-paid .m-menu-container{
    background: {{ block.settings.m-background }};
  }
  #meroxio-sticky-mobile-menu-paid .m-icon-name span{
    font-size: {{ block.settings.m-font }}px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: {{ block.settings.m_text_color }};
  }
  #meroxio-sticky-mobile-menu-paid .m-icon svg{
    margin: auto;
    fill: {{ block.settings.m-background }};
    width: {{ block.settings.svg_size }}px;
    height: {{ block.settings.svg_size }}px;
  }
  #meroxio-sticky-mobile-menu-paid .m-icon svg path{
  stroke: {{ block.settings.m-icon-border-color }};
  stroke-width: 1;
  }
  #meroxio-sticky-mobile-menu-paid .m-icon svg circle{
    stroke: {{ block.settings.m-icon-border-color }};
    stroke-width: 1;
    fill: {{ block.settings.m-background }};
    }
</style>
<div id="meroxio-sticky-mobile-menu-paid">
<div class="m-sticky-menu meroxio-sticky-mobile-menu-pro">
  <div class="m-menu-container">
    {% if block.settings['m-icon-text-1'] != blank %}
      <div class="m-icon-main">
        <a href="{{ block.settings.icon_url_1 }}">
          <div class="m-icon">
            {% if block.settings['m-icon-1'] != blank -%}
              <img
                loading="lazy"
                width="30"
                height="30"
                src="{{ block.settings.m-icon-1 | image_url: width: 30 }}"
              >
            {% else %}
            {{ home-1 }}
            {%- endif %}
          </div>
          <div class="m-icon-name">
            {% if block.settings.m-icon-text-1 != blank %}<span>{{ block.settings.m-icon-text-1 }}</span>{% endif %}
          </div>
        </a>
      </div>
    {% endif %}

    {% if block.settings['m-icon-text-2'] != blank %}
      <div class="m-icon-main">
        <a href="{{ block.settings.categories }}">
          <div class="m-icon">
            {% if block.settings['m-icon-2'] != blank -%}
              <img
                loading="lazy"
                width="30"
                height="30"
                src="{{ block.settings.m-icon-2 | image_url: width: 30 }}"
              >
            {% else %}
              {{ categories-1 }}
            {%- endif %}
          </div>
          <div class="m-icon-name">
            {% if block.settings.m-icon-text-2 != blank %}<span>{{ block.settings.m-icon-text-2 }}</span> {% endif %}
          </div>
        </a>
      </div>
    {% endif %}

    {% if block.settings['m-icon-title-5'] != blank %}
      <div class="m-icon-main">
        <a href="{{ block.settings.m-icon-link-5 }}">
          <div class="m-icon">
            {% if block.settings['m-icon-5'] != blank %}
              <img
                loading="lazy"
                width="30"
                height="30"
                src="{{ block.settings.m-icon-5 | image_url: width: 30 }}"
              >
                {% else %}
              {{ gift-1 }}
            {% endif %}
          </div>
          <div class="m-icon-name">
            {% if block.settings['m-icon-title-5'] != blank %}<span>{{ block.settings['m-icon-title-5'] }}</span> {% endif %}
          </div>
        </a>
      </div>
    {% endif %}

    {% if block.settings['m-icon-text-5'] != blank %}
      <div class="m-icon-main">
        <a href="{{ block.settings.m_icon_url-5 }}">
          <div class="m-icon">
            {% if block.settings['m-icon-3'] != blank %}
              <img
                loading="lazy"
                width="30"
                height="30"
                src="{{ block.settings.m-icon-3 | image_url: width: 30 }}"
              >
            {% else %}
             {{ cart-1 }}
            {% endif %}
          </div>
          <div class="m-icon-name">
            {% if block.settings.m-icon-text-5 != blank %}<span>{{ block.settings.m-icon-text-5 }}</span> {% endif %}
          </div>
        </a>
      </div>
    {% endif %}
    {% if block.settings['m-icon-text-6'] != blank %}
      <div class="m-icon-main ">
        <a href="{{ block.settings.icon_url_6 }}">
          <div class="m-icon">
            {% if block.settings['m-icon-4'] != blank %}
              <img
                loading="lazy"
                width="30"
                height="30"
                src="{{ block.settings.m-icon-4 | image_url: width: 30 }}"
              >
            {% else %}
              {{ account-1 }}
            {% endif %}
          </div>
          <div class="m-icon-name">
            {% if block.settings.m-icon-text-6 != block %}<span>{{ block.settings.m-icon-text-6 }}</span> {% endif %}
          </div>
        </a>
      </div>
    {% endif %}
  </div>
</div>
</div>
