{% capture home-1 %}<svg xmlns="http://www.w3.org/2000/svg" height="16" width="18" viewBox="0 0 576 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"/></svg>{% endcapture %}
{% capture categories-1 %}<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>Navbar, Menu</title><path d="M8.81,0H2.19A2.19,2.19,0,0,0,0,2.19V8.81A2.19,2.19,0,0,0,2.19,11H8.81A2.19,2.19,0,0,0,11,8.81V2.19A2.19,2.19,0,0,0,8.81,0ZM9,8.81A.18.18,0,0,1,8.81,9H2.19A.18.18,0,0,1,2,8.81V2.19A.18.18,0,0,1,2.19,2H8.81A.18.18,0,0,1,9,2.19Z"/><path d="M21.81,0H15.19A2.19,2.19,0,0,0,13,2.19V8.81A2.19,2.19,0,0,0,15.19,11h6.62A2.19,2.19,0,0,0,24,8.81V2.19A2.19,2.19,0,0,0,21.81,0ZM22,8.81a.18.18,0,0,1-.19.19H15.19A.18.18,0,0,1,15,8.81V2.19A.18.18,0,0,1,15.19,2h6.62a.18.18,0,0,1,.19.19Z"/><path d="M8.81,13H2.19A2.19,2.19,0,0,0,0,15.19v6.62A2.19,2.19,0,0,0,2.19,24H8.81A2.19,2.19,0,0,0,11,21.81V15.19A2.19,2.19,0,0,0,8.81,13ZM9,21.81a.18.18,0,0,1-.19.19H2.19A.18.18,0,0,1,2,21.81V15.19A.18.18,0,0,1,2.19,15H8.81a.18.18,0,0,1,.19.19Z"/><path d="M21.81,13H15.19A2.19,2.19,0,0,0,13,15.19v6.62A2.19,2.19,0,0,0,15.19,24h6.62A2.19,2.19,0,0,0,24,21.81V15.19A2.19,2.19,0,0,0,21.81,13ZM22,21.81a.18.18,0,0,1-.19.19H15.19a.18.18,0,0,1-.19-.19V15.19a.18.18,0,0,1,.19-.19h6.62a.18.18,0,0,1,.19.19Z"/></svg>{% endcapture %}
{% capture gift-1 %}<svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M190.5 68.8L225.3 128H224 152c-22.1 0-40-17.9-40-40s17.9-40 40-40h2.2c14.9 0 28.8 7.9 36.3 20.8zM64 88c0 14.4 3.5 28 9.6 40H32c-17.7 0-32 14.3-32 32v64c0 17.7 14.3 32 32 32H480c17.7 0 32-14.3 32-32V160c0-17.7-14.3-32-32-32H438.4c6.1-12 9.6-25.6 9.6-40c0-48.6-39.4-88-88-88h-2.2c-31.9 0-61.5 16.9-77.7 44.4L256 85.5l-24.1-41C215.7 16.9 186.1 0 154.2 0H152C103.4 0 64 39.4 64 88zm336 0c0 22.1-17.9 40-40 40H288h-1.3l34.8-59.2C329.1 55.9 342.9 48 357.8 48H360c22.1 0 40 17.9 40 40zM32 288V464c0 26.5 21.5 48 48 48H224V288H32zM288 512H432c26.5 0 48-21.5 48-48V288H288V512z"/></svg>{% endcapture %}
{% capture cart-1 %}<svg xmlns="http://www.w3.org/2000/svg" height="16" width="18" viewBox="0 0 576 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/></svg>{% endcapture %}
{% capture account-1 %}<svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z"/></svg>{% endcapture %}
<style>
  #meroxio-sticky-mobile-menu-slider-free  .m-menu-container{
    background: #ffffff;
  }
  #meroxio-sticky-mobile-menu-slider-free  .m-icon-name span{
    font-size: {{ block.settings.m-font }}px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: {{ block.settings.m_text_color }};
  }
  #meroxio-sticky-mobile-menu-slider-free .m-icon svg{
    margin: auto;
    fill: {{ block.settings.svg_color }};
    width: {{ block.settings.svg_size }}px;
    height: {{ block.settings.svg_size }}px;
  }
</style>
<div id="meroxio-sticky-mobile-menu-slider-free">
<div class="m-sticky-menu meroxio-sticky-mobile-menu-pro">
  <div class="m-menu-container">
    <div class="m-sticky-menu-bar-box">
    {% if block.settings['show-home'] %}
      <div class="m-icon-main">
        <a href="{{ block.settings.icon_url_1 }}">
          <div class="m-icon">
            {% if block.settings['m-icon-1'] != blank -%}
              <img
                loading="lazy"
                width="30"
                height="30"
                src="{{ block.settings.m-icon-1 | img_url: '200x' }}"
              >
            {% else %}
             {{  home-1 }}
            {%- endif %}
          </div>
          <div class="m-icon-name">
            {% if block.settings.m-icon-text-1 != blank %}<span>{{ block.settings.m-icon-text-1 }}</span>{% endif %}
          </div>
        </a>
      </div>
    {% endif %}

    {% if block.settings['show-categories'] %}
      <div class="m-icon-main">
        <a href="{{ block.settings.categories }}">
          <div class="m-icon">
            {% if block.settings['m-icon-2'] != blank -%}
              <img
                loading="lazy"
                width="30"
                height="30"
                src="{{ block.settings.m-icon-2 | img_url: '200x' }}"
              >
            {% else %}
              {{ categories-1 }}
            {%- endif %}
          </div>
          <div class="m-icon-name">
            {% if block.settings.m-icon-text-2 != blank %}<span>{{ block.settings.m-icon-text-2 }}</span> {% endif %}
          </div>
        </a>
      </div>
    {% endif %}

    {% if block.settings['show-custom-icon-1'] %}
      <div class="m-icon-main">
        <a href="{{ block.settings.m-icon-link-5 }}">
          <div class="m-icon">
            {% if block.settings['m-icon-5'] != blank %}
              <img
                loading="lazy"
                width="30"
                height="30"
                src="{{ block.settings.m-icon-5 | img_url: '200x' }}"
              >
                {% else %}
              {{ gift-1}}
            {% endif %}
          </div>
          <div class="m-icon-name">
            {% if block.settings['m-icon-title-5'] != blank %}<span>{{ block.settings['m-icon-title-5'] }}</span> {% endif %}
          </div>
        </a>
      </div>
    {% endif %}

    {% if block.settings['show-cart'] %}
      <div class="m-icon-main">
        <a href="{{ block.settings.m_icon_url-5 }}">
          <div class="m-icon">
            {% if block.settings['m-icon-3'] != blank %}
              <img
                loading="lazy"
                width="30"
                height="30"
                src="{{ block.settings.m-icon-3 | img_url: '200x' }}"
              >
            {% else %}
             {{ cart-1 }}
            {% endif %}
          </div>
          <div class="m-icon-name">
            {% if block.settings.m-icon-text-5 != blank %}<span>{{ block.settings.m-icon-text-5 }}</span> {% endif %}
          </div>
        </a>
      </div>
    {% endif %}

    {% if block.settings['show-account'] %}
      <div class="m-icon-main ">
        <a href="{{ block.settings.icon_url_6 }}">
          <div class="m-icon">
            {% if block.settings['m-icon-4'] != blank %}
              <img
                loading="lazy"
                width="30"
                height="30"
                src="{{ block.settings.m-icon-4 | img_url: '200x' }}"
              >
            {% else %}
              {{ account-1 }}
            {% endif %}
          </div>
          <div class="m-icon-name">
            {% if block.settings.m-icon-text-6 != block %}<span>{{ block.settings.m-icon-text-6 }}</span> {% endif %}
          </div>
        </a>
      </div>
    {% endif %}
  </div>
  <div class="company_name"><a href="/"><span>Powered By MeroxIO</span></a></div>
  </div>
</div>
</div>
