{% capture home-1 %}<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64" zoomAndPan="magnify" viewBox="0 0 768 767.999994" height="64" preserveAspectRatio="xMidYMid meet" version="1.0"><defs><clipPath id="5059826963"><path d="M 87.714844 81 L 680.214844 81 L 680.214844 694.691406 L 87.714844 694.691406 Z M 87.714844 81 " clip-rule="nonzero"/></clipPath></defs><rect x="-76.8" width="921.6" fill="#ffffff" y="-76.799999" height="921.599993" fill-opacity="1"/><rect x="-76.8" width="921.6" fill="#ffffff" y="-76.799999" height="921.599993" fill-opacity="1"/><g clip-path="url(#5059826963)"><path fill="#000000" d="M 589.042969 694.585938 L 497.871094 694.585938 C 460.183594 694.585938 429.53125 663.949219 429.53125 626.28125 L 429.53125 580.714844 C 429.53125 568.160156 419.300781 557.972656 406.78125 557.972656 L 361.152344 557.972656 C 348.589844 557.972656 338.398438 568.199219 338.398438 580.714844 L 338.398438 626.28125 C 338.398438 663.949219 307.75 694.585938 270.0625 694.585938 L 178.847656 694.585938 C 128.597656 694.585938 87.714844 653.726562 87.714844 603.496094 L 87.714844 360.214844 C 87.714844 334.734375 98.480469 310.273438 117.261719 293.097656 L 322.359375 105.195312 C 357.46875 73.046875 410.460938 73.046875 445.574219 105.195312 L 650.671875 293.097656 C 669.453125 310.316406 680.214844 334.773438 680.214844 360.214844 L 680.214844 603.457031 C 680.175781 653.726562 639.292969 694.585938 589.042969 694.585938 Z M 361.152344 512.410156 L 406.78125 512.410156 C 444.46875 512.410156 475.117188 543.046875 475.117188 580.714844 L 475.117188 626.28125 C 475.117188 638.835938 485.347656 649.019531 497.871094 649.019531 L 589.042969 649.019531 C 614.167969 649.019531 634.628906 628.609375 634.628906 603.457031 L 634.628906 360.214844 C 634.628906 347.496094 629.226562 335.265625 619.855469 326.675781 L 414.757812 138.773438 C 397.203125 122.660156 370.6875 122.660156 353.132812 138.773438 L 148.074219 326.675781 C 138.703125 335.265625 133.300781 347.496094 133.300781 360.214844 L 133.300781 603.457031 C 133.300781 628.570312 153.722656 649.019531 178.890625 649.019531 L 270.0625 649.019531 C 282.625 649.019531 292.8125 638.796875 292.8125 626.28125 L 292.8125 580.714844 C 292.8125 543.046875 323.464844 512.410156 361.152344 512.410156 Z M 361.152344 512.410156 " fill-opacity="1" fill-rule="nonzero"/></g></svg>{% endcapture %}
{% capture categories-1 %}<svg width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
  <g clip-path="url(#clip0_429_11052)">
  <circle cx="17" cy="7" r="3" stroke="#292929" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
  <circle cx="7" cy="17" r="3" stroke="#292929" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M14 14H20V19C20 19.5523 19.5523 20 19 20H15C14.4477 20 14 19.5523 14 19V14Z" stroke="#292929" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M4 4H10V9C10 9.55228 9.55228 10 9 10H5C4.44772 10 4 9.55228 4 9V4Z" stroke="#292929" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
  </g>
  <defs>
  <clipPath id="clip0_429_11052">
  <rect width="24" height="24" fill="white"/>
  </clipPath>
  </defs>
  </svg>{% endcapture %}
{% capture gift-1 %}<svg class="w-[16px] h-[16px] text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M8 19v-9m3-4H5.5a2.5 2.5 0 1 1 0-5C7 1 8.375 2.25 9.375 3.5M12 19v-9m-9 0h14v8a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-8ZM2 6h16a1 1 0 0 1 1 1v3H1V7a1 1 0 0 1 1-1Zm12.155-5c-3 0-5.5 5-5.5 5h5.5a2.5 2.5 0 0 0 0-5Z"/>
</svg>{% endcapture %}
{% capture cart-1 %}<svg class="w-[16px] h-[16px] text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M6 15a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm0 0h8m-8 0-1-4m9 4a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-9-4h10l2-7H3m2 7L3 4m0 0-.792-3H1"/>
</svg>{% endcapture %}
{% capture account-1 %}<svg class="w-[16px] h-[16px] text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 18">
  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M7 8a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm-2 3h4a4 4 0 0 1 4 4v2H1v-2a4 4 0 0 1 4-4Z"/>
</svg>{% endcapture %}
<style>
  #meroxio-sticky-mobile-menu-slider-free  .m-menu-container{
    background: #ffffff;
  }
  #meroxio-sticky-mobile-menu-slider-free  .m-icon-name span{
    font-size: {{ block.settings.m-font }}px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: {{ block.settings.m_text_color }};
  }
  #meroxio-sticky-mobile-menu-slider-free .m-icon svg{
    margin: auto;
    fill: #FFFFFF;
    width: {{ block.settings.svg_size }}px;
    height: {{ block.settings.svg_size }}px;
  }
</style>
<div id="meroxio-sticky-mobile-menu-slider-free">
<div class="m-sticky-menu meroxio-sticky-mobile-menu-pro">
  <div class="m-menu-container">
    <div class="m-sticky-menu-bar-box">
    {% if block.settings['m-icon-text-1'] != blank %}
      <div class="m-icon-main">
        <a href="{{ block.settings.icon_url_1 }}">
          <div class="m-icon">
            {% if block.settings['m-icon-1'] != blank -%}
              <img
                loading="lazy"
                width="30"
                height="30"
                src="{{ block.settings.m-icon-1 | image_url: width: 30 }}"
              >
            {% else %}
            {% if block.settings.icon-name-1 == "home-1" %} {{ home-1 }} {% endif %}
            {%- endif %}
          </div>
          <div class="m-icon-name">
            {% if block.settings.m-icon-text-1 != blank %}<span>{{ block.settings.m-icon-text-1 }}</span>{% endif %}
          </div>
        </a>
      </div>
    {% endif %}

    {% if block.settings['m-icon-text-2'] != blank %}
      <div class="m-icon-main">
        <a href="{{ block.settings.categories }}">
          <div class="m-icon">
            {% if block.settings['m-icon-2'] != blank -%}
              <img
                loading="lazy"
                width="30"
                height="30"
                src="{{ block.settings.m-icon-2 | image_url: width: 30 }}"
              >
            {% else %}
              {{ categories-1 }}
            {%- endif %}
          </div>
          <div class="m-icon-name">
            {% if block.settings.m-icon-text-2 != blank %}<span>{{ block.settings.m-icon-text-2 }}</span> {% endif %}
          </div>
        </a>
      </div>
    {% endif %}

    {% if block.settings['m-icon-title-5'] != blank %}
      <div class="m-icon-main">
        <a href="{{ block.settings.m-icon-link-5 }}">
          <div class="m-icon">
            {% if block.settings['m-icon-5'] != blank %}
              <img
                loading="lazy"
                width="30"
                height="30"
                src="{{ block.settings.m-icon-5 | image_url: width: 30 }}"
              >
                {% else %}
              {{ gift-1 }}
            {% endif %}
          </div>
          <div class="m-icon-name">
            {% if block.settings['m-icon-title-5'] != blank %}<span>{{ block.settings['m-icon-title-5'] }}</span> {% endif %}
          </div>
        </a>
      </div>
    {% endif %}

    {% if block.settings['m-icon-text-5'] != blank %}
      <div class="m-icon-main">
        <a href="{{ block.settings.m_icon_url-5 }}">
          <div class="m-icon">
            {% if block.settings['m-icon-3'] != blank %}
              <img
                loading="lazy"
                width="30"
                height="30"
                src="{{ block.settings.m-icon-3 | image_url: width: 30 }}"
              >
            {% else %}
             {{ cart-1 }}
            {% endif %}
          </div>
          <div class="m-icon-name">
            {% if block.settings.m-icon-text-5 != blank %}<span>{{ block.settings.m-icon-text-5 }}</span> {% endif %}
          </div>
        </a>
      </div>
    {% endif %}

    {% if block.settings['m-icon-text-6'] != blank %}
      <div class="m-icon-main ">
        <a href="{{ block.settings.icon_url_6 }}">
          <div class="m-icon">
            {% if block.settings['m-icon-4'] != blank %}
              <img
                loading="lazy"
                width="30"
                height="30"
                src="{{ block.settings.m-icon-4 | image_url: width: 30 }}"
              >
            {% else %}
              {{ account-1 }}
            {% endif %}
          </div>
          <div class="m-icon-name">
            {% if block.settings.m-icon-text-6 != block %}<span>{{ block.settings.m-icon-text-6 }}</span> {% endif %}
          </div>
        </a>
      </div>
    {% endif %}
  </div>
  <div class="company_name"></div>
  </div>
</div>
</div>
