<div
  class="wishlist-engine-product-page"
  data-product-handle="{{ product.handle }}"
  style="padding: {{ block.settings.btn-padding }}px; "
>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
        <path 
          d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" 
          fill="none" 
          stroke="black" 
          stroke-width="2"/>
      </svg>
   <span class="wishlist-text">Add to Wishlist</span>
</div>


<style>
  .wishlist-engine-product-page{
    {% if block.settings.alignment-btn == "start" %}
    justify-content: start;
  {% endif %}
  {% if block.settings.alignment-btn == "center" %}
        justify-content: center;
    {% endif %}
    {% if block.settings.enable_border %}
    border: 1px solid black;
    {% endif %}
    border-radius: {{ block.settings.border_radius}}px;
    background: {{ block.settings.btn_background-color }};
    color: {{ block.settings.btn_text_color }}
}
</style>


{% schema %}
{
  "name": "Add To Wishlist",
  "target": "section",
  "enabled_on": {
    "templates": ["product"]
  },
  "settings": [
      {
        "type": "text",
        "id": "btnText",
        "label" : "Button Text",
        "default": "Add to Wishlist"
      },
      {
        "type": "range",
        "id": "btn-padding",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "px",
        "label": "Button Padding",
        "default": 10
      },
      {
      "type": "range",
      "id": "border_radius",
      "label": "Button Border Radius",
      "min": 0,
      "max": 20,
      "step": 1,
      "default": 0
    },
    {
      "type": "select",
      "id": "alignment-btn",
      "label": "Button Align",
      "options": [
        {
          "value": "start",
          "label": "Start"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "center"
    },
    {
      "type": "checkbox",
      "id": "enable_border",
      "label": "Enable Button Border",
      "default": true
    },
    {
    "type": "color",
    "id": "btn_background-color",
    "label": "Button Background Color",
    "default": "#ffffff"
  },
  {
    "type": "color",
    "id": "btn_text_color",
    "label": "Button Text Color",
    "default": "#000"
  }
  ]
}

{% endschema %}

